body {
  background-color: rgb(168, 200, 211);
}

/* .my-card {
  height: 100%;
  margin-top: 40px;
  width:40px ;
} */

.my-card {
  height: 750px !important;
  /* margin-top: 40px;
  width:40px ; */
}

.my-img {
  object-fit: contain;
}